.faq {
  position: relative;

  &__warapper {
    background-color: #0A0021;
    padding: 70px 0 140px;

    @include media-breakpoint-down(sm) {
      padding: 40px 0 72px;
    }

    &.decor-buble {
      &::before {
        top: -115px;
        left: 14px;

        @include media-breakpoint-down(sm) {
          top: 383px;
          left: -59px;
        }
      }

      &::after {
        bottom: -450px;
        right: 35px;

        @include media-breakpoint-down(sm) {
          right: 45px;
          bottom: -80px;
        }
      }
    }
  }

  &__inner {
    z-index: 3;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__shape {
    right: 0;
    z-index: 1;
    bottom: -245px;
  }

  &__shadow {
    .shadow-2 {
      right: 35px;
      bottom: -450px;
    }

    .shadow-3 {
      width: 500px;
      height: 500px;
      left: 14px;
      bottom: 384px;
    }

    @include media-breakpoint-down(md) {
      .shadow-2 {
        width: 150px;
        height: 150px;
        left: -59px;
        bottom: 109px;
      }

      .shadow-3 {
        width: 300px;
        height: 300px;
        left: -94px;
        bottom: 470px;
      }
    }
  }
}

.accordion {
  &__items {
    max-width: 903px;
    padding-right: 30px;
  }

  &__item {
    margin-bottom: 21px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &_button {
      transition: all 0.4s;
      padding-left: 42px;
      text-align: left;

      @include media-breakpoint-down(sm) {
        padding-left: 32px;
      }

      &::before {
        content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2IDZWMjYiIHN0cm9rZT0iIzU4MjRGRiIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTI2IDE2SDYiIHN0cm9rZT0iIzU4MjRGRiIgc3Ryb2tlLXdpZHRoPSI0IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');
        position: absolute;
        left: 0;
        top: 0;

        @include media-breakpoint-down(sm) {
          content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDRWMjAiIHN0cm9rZT0iIzU4MjRGRiIgc3Ryb2tlLXdpZHRoPSIzLjIiLz4KPHBhdGggZD0iTTIwIDEyTDQgMTIiIHN0cm9rZT0iIzU4MjRGRiIgc3Ryb2tlLXdpZHRoPSIzLjIiLz4KPC9zdmc+Cg==');
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.active {
        margin-bottom: 20px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 16px;
        }

        &::before {
          content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDI0IDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yMiAyTDIgMiIgc3Ryb2tlPSIjNTgyNEZGIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
          left: 4px;
          top: -4px;
          animation: accActive 0.4s;

          @include media-breakpoint-down(sm) {
            content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwIDEyTDQgMTIiIHN0cm9rZT0iIzU4MjRGRiIgc3Ryb2tlLXdpZHRoPSIzLjIiLz4KPC9zdmc+Cg==');
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    &_text {
      color: rgba(#fff, 0.8);
      padding-left: 100px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s;
      opacity: 0;

      @include media-breakpoint-down(sm) {
        padding-left: 32px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

@keyframes accActive {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}