body {
  background-color: #0A0021;
  color: #ffffff;

  button {
    color: #ffffff;
  }
}

.banner {
  padding-top: 275px;
  height: 100vh;
  background-image: url(../../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 118px;
    text-align: center;
  }

  &__decor {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 10px;
    }
  }
}

.about {
  padding: 130px 0 140px;

  &__index {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 47px;
    font-weight: 400;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    padding: 50px 0;

    &:nth-child(2) {
      position: relative;
      margin-left: auto;

      &::before {
        content: url(../../images/wave.png);
        position: absolute;
        left: calc(-945px - 130px);
      }
    }
  }
}

.roadmap {
  &__inner {
    position: relative;
  }

  &__title {
    text-align: center;
  }

  &__blocks {
    padding: 120px 0 340px;
  }

  &__item {
    padding: 40px 30px;
    background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);
    box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
    border-radius: 20px;

    &:nth-child(2) {
      margin: 247px 0 290px;
      margin-left: auto;
    }

    h3,
    p {
      text-align: center;
    }

    h3 {
      margin-bottom: 20px;
    }
  }
}

.line {
  width: 2px;
  height: 182px;
  border: none;
  opacity: 0.2;
  display: block;
  background-color: #ffffff;

  &:first-child {
    background: linear-gradient(180deg, #ffffff00, #ffffff);
  }

  &:last-child {
    background: linear-gradient(180deg, #ffffff, #ffffff00);
  }
}

.dot {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #5824FF;
  border: 10px solid #130440;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 35px;
    border: 4px solid #5824FF;
  }

  &::before {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 24px;
    padding: 0 20px;
    width: 175px;
    left: calc(100px - 3px);
    top: 18px;
    border-bottom-left-radius: 10px;
    border-top: unset;
    border-right: unset;
  }

  &::after {
    top: 8px;
    left: 1px;
    border-top-right-radius: 10px;
    content: '';
    width: 100px;
    border-left: unset;
    border-bottom: unset;
  }

  &_middle {
    &::before {
      content: 'Phase 2';
      padding: 0 20px;
      left: -259px;
      top: 18px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: unset;
      border-top: unset;
      border-left: unset;
      border-right: 4px solid #5824FF;
    }

    &::after {
      top: 8px;
      left: -88px;
      border-top-left-radius: 10px;
      content: '';
      width: 100px;
      border-right: unset;
      border-left: 4px solid #5824FF;
      border-bottom: unset;
    }
  }

  &_first {
    &::before {
      content: 'Phase 1';
    }
  }

  &_last {
    &::before {
      content: 'Phase 3';
    }
  }
}

.lines {
  position: absolute;
  top: 100px;
  left: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__middle {
    height: 450px;
  }
}

.mint {
  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 80px;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;

    &:last-child {
      padding-right: unset;
      border: none;
    }

    &:first-child {
      padding-left: unset;
      border: none;
    }
  }

  &__value {
    font-family: 'Prosto One', cursive;
    color: #5824FF;
    margin-right: 20px;
    font-size: 56px;
    line-height: 90px;
    font-weight: 400;
  }

  &__label {
    white-space: nowrap;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1199px) {
  .mint {
    &__item {
      padding: 0 32px; //////////////
    }
  }
}

@media screen and (max-width: 991px) {
  .roadmap {

    &__blocks {
      padding: 150px 0 80px;
    }

    &__item {
      padding: 40px 30px;
      background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);
      box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
      border-radius: 20px;

      &:nth-child(2) {
        margin: 200px 0 230px; ///////////
        margin-left: auto;
      }

      h3,
      p {
        text-align: center;
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .line {
    width: 2px;
    height: 182px;
    border: none;
    opacity: 0.2;
    display: block;
    background-color: #ffffff;

    &:first-child {
      background: linear-gradient(180deg, #ffffff00, #ffffff);
    }

    &:last-child {
      background: linear-gradient(180deg, #ffffff, #ffffff00);
    }
  }

  .dot {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #5824FF;
    border: 10px solid #130440;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      display: block;
      height: 35px;
      border: 4px solid #5824FF;
    }

    &::before {
      font-family: 'Prosto One', cursive;
      font-size: 28px;
      line-height: 24px;
      padding: 0 20px;
      width: 175px;
      left: calc(100px - 3px);
      top: 18px;
      border-bottom-left-radius: 10px;
      border-top: unset;
      border-right: unset;
    }

    &::after {
      top: 8px;
      left: 1px;
      border-top-right-radius: 10px;
      content: '';
      width: 100px;
      border-left: unset;
      border-bottom: unset;
    }

    &_middle {
      &::before {
        content: 'Phase 2';
        padding: 0 20px;
        left: -259px;
        top: 18px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: unset;
        border-top: unset;
        border-left: unset;
        border-right: 4px solid #5824FF;
      }

      &::after {
        top: 8px;
        left: -88px;
        border-top-left-radius: 10px;
        content: '';
        width: 100px;
        border-right: unset;
        border-left: 4px solid #5824FF;
        border-bottom: unset;
      }
    }

    &_first {
      &::before {
        content: 'Phase 1';
      }
    }

    &_last {
      &::before {
        content: 'Phase 3';
      }
    }
  }

  .lines {
    position: absolute;
    top: 100px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__middle {
      height: 450px;
    }
  }

  .mint {
    &__value {
      font-size: 32px;
      line-height: 42px;
      font-weight: 400;
    }

    &__label {
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 130px 0 140px;

    &__index {
      font-family: 'Prosto One', cursive;
      font-size: 28px;
      line-height: 47px;
      font-weight: 400;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__item {
      padding: 32px 0; /////////////

      &:nth-child(2) {
        margin-top: 100px;
        position: relative;
        margin-left: auto;

        &::before {
          content: url(../../images/wave-mob.png);
          position: absolute;
          top: -100px;
          left: unset;
        }
      }
    }
  }

  .roadmap {

    &__blocks {
      padding: 150px 0 80px;
    }

    &__item {
      padding: 40px 30px;
      background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);
      box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
      border-radius: 20px;

      &:nth-child(2) {
        margin: 200px 0 230px;
        margin-left: auto;
      }

      h3,
      p {
        text-align: center;
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .line {
    width: 2px;
    height: 182px;
    border: none;
    opacity: 0.2;
    display: block;
    background-color: #ffffff;

    &_first {
      display: none; //////////////////////
    }

    &_first-mob {
      background: linear-gradient(180deg, #ffffff00, #ffffff); /////////////////////////
    }

    &:last-child {
      background: linear-gradient(180deg, #ffffff, #ffffff00);
      height: 70px; //////////////////////
    }
  }

  .dot {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #5824FF;
    border: 10px solid #130440;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      display: block;
      height: 35px;
      border: 4px solid #5824FF;
    }

    &::before {
      font-family: 'Prosto One', cursive;
      font-size: 28px;
      line-height: 24px;
      padding: 0 20px;
      width: 175px;
      left: calc(100px - 3px);
      top: 18px;
      border-bottom-left-radius: 10px;
      border-top: unset;
      border-right: unset;
    }

    &::after {
      top: 8px;
      left: 1px;
      border-top-right-radius: 10px;
      content: '';
      width: 100px;
      border-left: unset;
      border-bottom: unset;
    }

    &_middle {
      &::before {
        content: 'Phase 2';
        padding: 0 20px;
        left: -259px;
        top: 18px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: unset;
        border-top: unset;
        border-left: unset;
        border-right: 4px solid #5824FF;
      }

      &::after {
        top: 8px;
        left: -88px;
        border-top-left-radius: 10px;
        content: '';
        width: 100px;
        border-right: unset;
        border-left: 4px solid #5824FF;
        border-bottom: unset;
      }
    }

    &_first {
      position: relative; ////////////
      top: 50px; ///////////////////////

      &::before {
        content: 'Phase 1';
      }
    }

    &_last {
      position: relative;

      &::before {
        content: 'Phase 3';
      }
    }
  }

  .lines {
    position: absolute;
    top: 25px; ////////////////
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__middle {
      height: 410px; ///////////////////////////
    }
  }

  .mint {
    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      border: none;
      padding: unset;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 575px) {
  .roadmap {

    &__blocks {
      padding: 150px 0 80px;
    }

    &__item {
      padding: 40px 30px;
      background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);
      box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
      border-radius: 20px;

      &:nth-child(2) {
        margin: 160px 0; //////////////////
        margin-left: auto;
      }

      h3,
      p {
        text-align: center;
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .line {
    width: 2px;
    height: 182px;
    border: none;
    opacity: 0.2;
    display: block;
    background-color: #ffffff;

    &_first {
      display: none;
    }

    &_first-mob {
      background: linear-gradient(180deg, #ffffff00, #ffffff);
    }

    &:last-child {
      background: linear-gradient(180deg, #ffffff, #ffffff00);
      height: 70px;
    }
  }

  .dot {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #5824FF;
    border: 10px solid #130440;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      display: block;
      height: 35px;
      border: 4px solid #5824FF;
    }

    &::before {
      font-family: 'Prosto One', cursive;
      font-size: 18px;
      line-height: 24px;
      padding: 0 15px; /////////////
      width: 120px; ////////////////
      left: 57px;
      top: 18px;
      border-bottom-left-radius: 10px;
      border-top: unset;
      border-right: unset;
    }

    &::after {
      top: 8px;
      left: 1px;
      border-top-right-radius: 10px;
      content: '';
      width: 60px; //////////////
      border-left: unset;
      border-bottom: unset;
    }

    &_middle {
      &::before {
        content: 'Phase 2';
        padding: 0 15px;
        left: -156px;
        top: 18px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: unset;
        border-top: unset;
        border-left: unset;
        border-right: 4px solid #5824FF;
      }

      &::after {
        top: 8px;
        left: -40px;
        border-top-left-radius: 10px;
        content: '';
        width: 50px;
        border-right: unset;
        border-left: 4px solid #5824FF;
        border-bottom: unset;
      }
    }

    &_first {
      position: relative;
      top: 50px;

      &::before {
        content: 'Phase 1';
      }
    }

    &_last {
      position: relative;

      &::before {
        content: 'Phase 3';
      }
    }
  }

  .lines {
    position: absolute;
    top: 25px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__middle {
      height: 320px; //////////////
    }

    .line_first-mob {
      height: 380px;
    }

  }
}

@media screen and (max-width: 494px) {
  .lines {
    position: absolute;
    top: 25px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__middle {
      height: 290px; //////////////
    }

    .line_first-mob {
      height: 425px;
    }

  }
}

@media screen and (max-width: 440px) {
  .lines {
    position: absolute;
    top: 25px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__middle {
      height: 350px; //////////////
    }

    .line_first-mob {
      height: 390px; /////////////////
    }

  }
}

@media screen and (max-width: 424px) {
  .lines {
    position: absolute;
    top: 25px;
    left: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .line_first-mob {
      height: 420px; /////////////////
    }

  }
}