* {
  cursor: url('../images/cursor.png'), auto;
}

.pointer {
  cursor: url('../images/cursor-pointer.png'), auto;
}

body {
  background-color: #0A0021;
  color: #ffffff;

  button {
    color: #ffffff;
  }
}

.banner {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(2.39deg, #0A0021 86%, rgba(10, 0, 33, 0) 167%);
  //   animation: beforeHide 5s;
  //   opacity: 0;
  // }

  &__loading {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 3s;
    opacity: 0;
  }

  &__wrapper {
    padding-top: 275px;
    width: 100%;
    height: 100%;

  }

  &__button {
    white-space: nowrap;
    position: fixed;
    background-color: #00000033;
    border-radius: 40px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    top: 150px;
    left: 50%;
    z-index: 3;
    animation: showButton 10s;

    svg {
      margin-right: 15px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &__title {
    margin-bottom: 118px;
    text-align: center;

    span.banner__title_line {
      overflow: hidden;
      animation: none;
    }

    span {
      animation: textShow 10s;
    }
  }

  &__decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: decorShow 10s;

    img {
      margin-bottom: 10px;
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes textShow {
  0% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0%);
  }
}

@keyframes decorShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@keyframes showButton {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.about {
  padding: 130px 0 140px;
  position: relative;

  &__index {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 47px;
    font-weight: 400;
    color: #5824FF;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    padding: 50px 0;

    &:nth-child(2) {
      position: relative;
      margin-left: auto;

      &::before {
        content: url(../../images/wave.png);
        position: absolute;
        left: calc(-945px - 130px);
      }
    }
  }
}

.block {
  padding: 40px 30px;
  box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
  border-radius: 20px;
  text-align: center;

  &:nth-child(2) {
    margin-left: auto;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.roadmap {
  &__wrapper {
    position: relative;
  }

  &__title {
    text-align: center;
  }


  &__blocks {
    padding: 120px 0 340px;
  }

  &__item {
    background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);

    &:nth-child(2) {
      margin: 247px 0 290px;
      margin-left: auto;
    }

  }
}

.line {
  width: 2px;
  height: 182px;
  border: none;
  opacity: 0.2;
  display: block;
  background-color: #ffffff;

  &:first-child {
    background: linear-gradient(180deg, #ffffff00, #ffffff);
  }

  &:last-child {
    background: linear-gradient(180deg, #ffffff, #ffffff00);
  }
}

.dot {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #5824FF;
  border: 10px solid #130440;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 35px;
    border: 4px solid #5824FF;
  }

  &::before {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 24px;
    padding: 0 20px;
    width: 175px;
    left: calc(100px - 3px);
    top: 18px;
    border-bottom-left-radius: 10px;
    border-top: unset;
    border-right: unset;
  }

  &::after {
    top: 8px;
    left: 1px;
    border-top-right-radius: 10px;
    content: '';
    width: 100px;
    border-left: unset;
    border-bottom: unset;
  }

  &_middle {
    &::before {
      content: 'Phase 2';
      padding: 0 20px;
      left: -259px;
      top: 18px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: unset;
      border-top: unset;
      border-left: unset;
      border-right: 4px solid #5824FF;
    }

    &::after {
      top: 8px;
      left: -88px;
      border-top-left-radius: 10px;
      content: '';
      width: 100px;
      border-right: unset;
      border-left: 4px solid #5824FF;
      border-bottom: unset;
    }
  }

  &_first {
    &::before {
      content: 'Phase 1';
    }
  }

  &_last {
    &::before {
      content: 'Phase 3';
    }
  }
}

.lines {
  position: absolute;
  top: 100px;
  left: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__middle {
    height: 450px;
  }
}

.mint {
  position: relative;
  margin-bottom: 255px;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 80px;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;

    &:last-child {
      padding-right: unset;
      border: none;
    }

    &:first-child {
      padding-left: unset;
      border: none;
    }
  }

  &__value {
    font-family: 'Prosto One', cursive;
    color: #5824FF;
    margin-right: 20px;
    font-size: 56px;
    line-height: 90px;
    font-weight: 400;
  }

  &__label {
    white-space: nowrap;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
  }
}

.dao {
  position: relative;
  padding-bottom: 162px;

  &__inner {
    position: relative;
    z-index: 3;

  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    width: 100%;
    max-width: 500px;
    margin-bottom: 155px;
  }

  &__item {
    background: #130440;

    &:nth-child(2) {
      margin: 30px 0 100px;
      margin-left: auto;
    }
  }

  &__dot {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #5824FF;
    border: 10px solid #130440;
    border-radius: 50%;
    z-index: -1;

    &::before,
    &::after {
      border: 4px solid #fff;
      opacity: 0.2;
    }

    &:first-child {
      top: 550px;
      left: calc(50% - 20px);

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 4000px;
        height: 120px;
        left: calc(-4000px + 11px);
        bottom: 30px;
        border-bottom: unset;
        border-top-right-radius: 60px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 340px;
        height: 120px;
        top: 30px;
        left: 8px;
        border-top: unset;
        border-right: unset;
        border-bottom-left-radius: 60px;
      }
    }

    &:last-child {
      top: 890px;
      left: calc(75% + 20px);

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 100px;
        border-bottom: unset;
        border-left: unset;
        border-top: unset;
        bottom: 30px;
        left: 2px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 600px;
        height: 65px;
        left: calc(-600px + 12px);
        top: 30px;
        border-top: unset;
        border-left: unset;
        border-bottom-right-radius: 60px;
      }
    }
  }
}

.shadow {
  border-radius: 50%;
  position: absolute;
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  background-color: var(--color);
  width: var(--size);
  height: var(--size);
  opacity: var(--opacity);
  // filter: blur(var(--blur));

  @include media-breakpoint-down(sm) {
    top: var(--m-top);
    right: var(--m-right);
    bottom: var(--m-bottom);
    left: var(--m-left);
    background-color: var(--m-color);
    width: var(--m-size);
    height: var(--m-size);
    opacity: var(--m-opacity);
    // filter: blur(var(--m-blur));
  }
}

@media screen and (max-width: 1199px) {
  .mint {
    &__item {
      padding: 0 32px; //////!!!!!!!!!!!!!!!!////////
    }
  }
}

@media screen and (max-width: 991px) {

  .roadmap {
    &__blocks {
      padding: 150px 0 80px; ///////!!!!!!!!!!!!!!!!!!!!!!////////
    }

    &__item {

      &:nth-child(2) {
        margin: 200px 0 230px; ///////////
        margin-left: auto; ////////////////
      }
    }
  }

  .mint {
    &__value {
      font-size: 32px; //////////////
      line-height: 42px; ////////////////
      font-weight: 400; /////////////////////
    }

    &__label {
      font-size: 18px; /////////////////////
      line-height: 28px; ///////////////////
      font-weight: 400; /////////////////////
    }
  }

  .dao {
    &__dot {

      &:last-child {
        top: 1015px; ////////////////////////////////

        &::after {
          width: 500px; //////////////////////
          left: calc(-500px + 12px); /////////////
        }
      }
    }
  }

}

@media screen and (max-width: 767px) {
  // .banner {
  //   &__button {
  //     display: none;
  //   }
  // }

  .about {

    &__index {
      font-size: 18px;
      line-height: 29px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__item {
      padding: 32px 0;

      &:nth-child(2) {
        margin-top: 100px;

        &::before {
          content: url(../../images/wave-mob.png);
          position: absolute;
          top: -100px;
          left: unset;
        }
      }
    }
  }

  .line {
    &_first {
      display: none;
    }

    &_first-mob {
      background: linear-gradient(180deg, #ffffff00, #ffffff);
    }

    &:last-child {
      height: 70px;
    }
  }

  .dot {


    &_first {
      position: relative;
      top: 50px;
    }
  }

  .lines {
    top: 25px;

    &__middle {
      height: 380px;
    }
  }

  .mint {
    margin-bottom: 80px;

    &__title {
      margin-bottom: 40px;
    }

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      border: none;
      padding: unset;
      margin-bottom: 24px;
    }
  }

  .dao {

    &__item {
      &:nth-child(2) {
        margin: 128px 0;
      }
    }

    &__dot {

      &:first-child {
        top: 485px;

        &::before {
          width: 20px;

          left: calc(-20px + 11px);
          border-left: unset;
        }

        &::after {
          width: 30px;
        }
      }

      &:last-child {
        top: 795px;
        left: calc(50% - 20px);

        &::after {

          width: 60px;
          height: 165px;
          left: calc(-60px + 12px);
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .roadmap {


    &__item {
      &:nth-child(2) {
        margin: 160px 0; //////////////////
      }
    }
  }

  .dot {

    &::before {
      font-size: 18px;
      line-height: 24px;
      padding: 0 15px; /////////////
      width: 120px; ////////////////
      left: 57px; ////////////////////
    }

    &::after {
      width: 60px; //////////////
    }

    &_middle {
      &::before {
        left: -156px;
      }

      &::after {
        left: -40px;
        width: 50px;
      }
    }
  }

  .lines {

    &__middle {
      height: 280px; //////////////
    }

    .line_first-mob {
      height: 380px; /////////////////////////
    }

  }
}

@media screen and (max-width: 494px) {
  .lines {
    &__middle {
      height: 290px; //////////////
    }

    .line_first-mob {
      height: 365px; //////////////////
    }

  }
}

@media screen and (max-width: 458px) {
  .lines {

    &__middle {
      height: 310px; //////////////
    }

    .line_first-mob {
      height: 380px; //////////////////////
    }

  }
}

@media screen and (max-width: 440px) {
  .lines {

    &__middle {
      height: 290px; //////////////
    }

    .line_first-mob {
      height: 390px; /////////////////
    }

  }
}

@media screen and (max-width: 428px) {
  .dao {
    &__dot {
      &:last-child {
        top: 810px; ///////////////
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .lines {

    .line_first-mob {
      height: 380px; /////////////////
    }

  }
}

@media screen and (max-width: 387px) {
  .dao {

    &__dot {
      &:first-child {
        top: 500px; //////////////
      }

      &:last-child {
        top: 835px; ///////////////
      }
    }
  }
}

@media screen and (max-width: 381px) {
  .lines {
    &__middle {
      height: 320px; //////////////
    }

    .line_first-mob {
      height: 390px; //////////////
    }

  }
}

@media screen and (max-width: 372px) {
  .dao {

    &__dot {

      &:first-child {
        top: 530px; //////////////
      }

      &:last-child {
        top: 860px; //////////////
      }
    }
  }
}

@media screen and (max-width: 352px) {
  .lines {
    .line_first-mob {
      height: 400px; /////////////////
    }
  }
}

@media screen and (max-width: 331px) {
  .dao {
    &__dot {


      &:first-child {
        top: 530px; //////////////
      }

      &:last-child {
        top: 890px; //////////////
      }
    }
  }
}