* {
  cursor: url('images/cursor.png'), auto;
}

// 

// 

.pointer {
  cursor: url('images/cursor-pointer.png'), auto;
}

body {
  background-color: #0A0021;
  color: #ffffff;


  button {
    color: #ffffff;
  }
}

.banner {
  position: relative;
  padding-top: 275px;
  height: 100vh;
  background-image: url(images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__button {
    white-space: nowrap;
    // position: absolute;
    position: fixed;
    background-color: #00000033;
    border-radius: 40px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    top: 150px;
    left: 50%;
    z-index: 3;

    svg {
      margin-right: 15px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &__title {
    margin-bottom: 118px;
    text-align: center;
  }

  &__decor {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 10px;
    }
  }

  &__shadow {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(2.39deg, #0A0021 2%, rgba(10, 0, 33, 0) 98.04%);
  }
}

.about {
  padding: 130px 0 140px;
  position: relative;

  &__index {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 47px;
    font-weight: 400;
    color: #5824FF;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    padding: 50px 0;

    &:nth-child(2) {
      position: relative;
      margin-left: auto;

      &::before {
        content: url(../../images/wave.png);
        position: absolute;
        left: calc(-945px - 130px);
      }
    }
  }

  &__shadow {
    .shadow-1 {
      top: 244px;
      left: -215px;
    }

    .shadow-2 {
      top: 615px;
      right: -73px;
    }

    .shadow-3 {
      top: 339px;
      right: 570px;
    }
  }
}

.block {
  padding: 40px 30px;
  box-shadow: 0px 4px 20px rgba(10, 0, 33, 0.5);
  border-radius: 20px;
  text-align: center;

  &:nth-child(2) {
    margin-left: auto;
  }

  h3 {
    margin-bottom: 20px;
  }
}

.roadmap {
  &__wrapper {
    position: relative;
  }

  &__title {
    text-align: center;
  }


  &__blocks {
    padding: 120px 0 340px;
  }

  &__item {
    background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);

    &:nth-child(2) {
      margin: 247px 0 290px;
      margin-left: auto;
    }

  }

  &__shadow {
    .shadow-1 {
      top: 157px;
      right: -90px;
    }

    .shadow-2 {
      top: 641px;
      left: -257px;
    }

    .shadow-3 {
      top: 463px;
      left: 275px;
    }
  }
}

.line {
  width: 2px;
  height: 182px;
  border: none;
  opacity: 0.2;
  display: block;
  background-color: #ffffff;

  &:first-child {
    background: linear-gradient(180deg, #ffffff00, #ffffff);
  }

  &:last-child {
    background: linear-gradient(180deg, #ffffff, #ffffff00);
  }
}

.dot {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #5824FF;
  border: 10px solid #130440;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 35px;
    border: 4px solid #5824FF;
  }

  &::before {
    font-family: 'Prosto One', cursive;
    font-size: 28px;
    line-height: 24px;
    padding: 0 20px;
    width: 175px;
    left: calc(100px - 3px);
    top: 18px;
    border-bottom-left-radius: 10px;
    border-top: unset;
    border-right: unset;
  }

  &::after {
    top: 8px;
    left: 1px;
    border-top-right-radius: 10px;
    content: '';
    width: 100px;
    border-left: unset;
    border-bottom: unset;
  }

  &_middle {
    &::before {
      content: 'Phase 2';
      padding: 0 20px;
      left: -259px;
      top: 18px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: unset;
      border-top: unset;
      border-left: unset;
      border-right: 4px solid #5824FF;
    }

    &::after {
      top: 8px;
      left: -88px;
      border-top-left-radius: 10px;
      content: '';
      width: 100px;
      border-right: unset;
      border-left: 4px solid #5824FF;
      border-bottom: unset;
    }
  }

  &_first {
    &::before {
      content: 'Phase 1';
    }
  }

  &_last {
    &::before {
      content: 'Phase 3';
    }
  }
}

.lines {
  position: absolute;
  top: 100px;
  left: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__middle {
    height: 450px;
  }
}

.mint {
  position: relative;
  margin-bottom: 255px;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 80px;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;

    &:last-child {
      padding-right: unset;
      border: none;
    }

    &:first-child {
      padding-left: unset;
      border: none;
    }
  }

  &__value {
    font-family: 'Prosto One', cursive;
    color: #5824FF;
    margin-right: 20px;
    font-size: 56px;
    line-height: 90px;
    font-weight: 400;
  }

  &__label {
    white-space: nowrap;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
  }

  &__shadow {
    .shadow-1 {
      top: -30px;
      right: 112px;
    }

    .shadow-2 {
      display: none;
    }
  }
}

.dao {
  position: relative;
  padding-bottom: 162px;

  &__inner {
    position: relative;
    z-index: 3;

  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    width: 100%;
    max-width: 500px;
    margin-bottom: 155px;
  }

  &__item {
    background: #130440;

    &:nth-child(2) {
      margin: 30px 0 100px;
      margin-left: auto;
    }
  }

  &__dot {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #5824FF;
    border: 10px solid #130440;
    border-radius: 50%;
    z-index: -1;

    &::before,
    &::after {
      border: 4px solid #fff;
      opacity: 0.2;
    }

    &:first-child {
      top: 550px;
      left: calc(50% - 20px);

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 4000px;
        height: 120px;
        left: calc(-4000px + 11px);
        bottom: 30px;
        border-bottom: unset;
        border-top-right-radius: 60px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 340px;
        height: 120px;
        top: 30px;
        left: 8px;
        border-top: unset;
        border-right: unset;
        border-bottom-left-radius: 60px;
      }
    }

    &:last-child {
      top: 890px;
      left: calc(75% + 20px);

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 100px;
        border-bottom: unset;
        border-left: unset;
        border-top: unset;
        bottom: 30px;
        left: 2px;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 600px;
        height: 65px;
        left: calc(-600px + 12px);
        top: 30px;
        border-top: unset;
        border-left: unset;
        border-bottom-right-radius: 60px;
      }
    }
  }

  &__shadow {
    .shadow-1 {
      top: 341px;
      right: -117px;
    }

    .shadow-2 {
      top: 438px;
      left: -136px;
    }

    .shadow-3 {
      top: 260px;
      left: 396px;

      &_double {
        top: 870px;
        right: 188px;
      }
    }
  }
}

.shadow {
  &-1 {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #170DA5;
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
    // filter: blur(600px);

    &_double {
      position: absolute;
      width: 700px;
      height: 700px;
      background: #170DA5;
      border-radius: 50%;
      opacity: 0.4;
      z-index: -1;

      // filter: blur(600px);
    }
  }

  &-2 {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #C30AFF;
    opacity: 0.2;
    z-index: -1;

    // filter: blur(700px);
  }

  &-3 {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #5824FF;
    opacity: 0.3;
    z-index: -1;

    // filter: blur(400px);

    &_double {
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background: #5824FF;
      opacity: 0.3;
      z-index: -1;

      // filter: blur(400px);
    }
  }
}

@media screen and (max-width: 1199px) {
  .mint {
    &__item {
      padding: 0 32px; //////!!!!!!!!!!!!!!!!////////
    }
  }
}

@media screen and (max-width: 991px) {

  .roadmap {
    &__blocks {
      padding: 150px 0 80px; ///////!!!!!!!!!!!!!!!!!!!!!!////////
    }

    &__item {

      &:nth-child(2) {
        margin: 200px 0 230px; ///////////
        margin-left: auto; ////////////////
      }
    }
  }

  .mint {
    &__value {
      font-size: 32px; //////////////
      line-height: 42px; ////////////////
      font-weight: 400; /////////////////////
    }

    &__label {
      font-size: 18px; /////////////////////
      line-height: 28px; ///////////////////
      font-weight: 400; /////////////////////
    }
  }

  .dao {
    &__dot {

      &:last-child {
        top: 1015px; ////////////////////////////////

        &::after {
          width: 500px; //////////////////////
          left: calc(-500px + 12px); /////////////
        }
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .about {

    &__index {
      font-size: 18px;
      line-height: 29px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__item {
      padding: 32px 0;

      &:nth-child(2) {
        margin-top: 100px;

        &::before {
          content: url(../../images/wave-mob.png);
          position: absolute;
          top: -100px;
          left: unset;
        }
      }
    }

    &__shadow {
      .shadow-1 {
        width: 200px;
        height: 200px;
        top: 557px;
        left: -84px;
      }

      .shadow-2 {
        width: 300px;
        height: 300px;
        top: 251px;
        right: -113px;
      }

      .shadow-3 {
        width: 150px;
        height: 150px;
        top: 71px;
        right: -18px;
      }
    }
  }

  .roadmap {
    &__shadow {
      .shadow-1 {
        width: 150px;
        height: 150px;
        top: 788px;
        left: -43px;
      }

      .shadow-2 {
        width: 300px;
        height: 300px;
        top: 431px;
        right: -100px;
        left: unset;
      }

      .shadow-3 {
        width: 150px;
        height: 150px;
        top: 158px;
        left: -11px;
      }
    }
  }

  .line {
    &_first {
      display: none;
    }

    &_first-mob {
      background: linear-gradient(180deg, #ffffff00, #ffffff);
    }

    &:last-child {
      height: 70px;
    }
  }

  .dot {


    &_first {
      position: relative;
      top: 50px;
    }
  }

  .lines {
    top: 25px;

    &__middle {
      height: 380px;
    }
  }

  .mint {
    margin-bottom: 80px;

    &__title {
      margin-bottom: 40px;
    }

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      border: none;
      padding: unset;
      margin-bottom: 24px;
    }

    &__shadow {
      .shadow-1 {
        width: 150px;
        height: 150px;
        top: 139px;
        left: -25px;
      }

      .shadow-2 {
        display: block;
        width: 150px;
        height: 150px;
        top: -75px;
        right: -40px;
      }
    }
  }

  .dao {

    &__item {
      &:nth-child(2) {
        margin: 128px 0;
      }
    }

    &__dot {

      &:first-child {
        top: 485px;

        &::before {
          width: 20px;

          left: calc(-20px + 11px);
          border-left: unset;
        }

        &::after {
          width: 30px;
        }
      }

      &:last-child {
        top: 795px;
        left: calc(50% - 20px);

        &::after {

          width: 60px;
          height: 165px;
          left: calc(-60px + 12px);
        }
      }
    }

    &__shadow {
      .shadow-1 {
        width: 150px;
        height: 150px;

        top: 75px;
        right: 53px;
      }

      .shadow-2 {
        width: 300px;
        height: 300px;

        top: 345px;
        left: -94px;
      }

      .shadow-3 {
        width: 300px;
        height: 300px;

        top: 463px;
        right: -105px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .roadmap {


    &__item {
      &:nth-child(2) {
        margin: 160px 0; //////////////////
      }
    }
  }

  .dot {

    &::before {
      font-size: 18px;
      line-height: 24px;
      padding: 0 15px; /////////////
      width: 120px; ////////////////
      left: 57px; ////////////////////
    }

    &::after {
      width: 60px; //////////////
    }

    &_middle {
      &::before {
        left: -156px;
      }

      &::after {
        left: -40px;
        width: 50px;
      }
    }
  }

  .lines {

    &__middle {
      height: 280px; //////////////
    }

    .line_first-mob {
      height: 380px; /////////////////////////
    }

  }
}

@media screen and (max-width: 494px) {
  .lines {
    &__middle {
      height: 290px; //////////////
    }

    .line_first-mob {
      height: 365px; //////////////////
    }

  }
}

@media screen and (max-width: 458px) {
  .lines {

    &__middle {
      height: 310px; //////////////
    }

    .line_first-mob {
      height: 380px; //////////////////////
    }

  }
}

@media screen and (max-width: 440px) {
  .lines {

    &__middle {
      height: 290px; //////////////
    }

    .line_first-mob {
      height: 390px; /////////////////
    }

  }
}

@media screen and (max-width: 428px) {
  .dao {
    &__dot {
      &:last-child {
        top: 810px; ///////////////
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .lines {

    .line_first-mob {
      height: 380px; /////////////////
    }

  }
}

@media screen and (max-width: 387px) {
  .dao {

    &__dot {
      &:first-child {
        top: 500px; //////////////
      }

      &:last-child {
        top: 835px; ///////////////
      }
    }
  }
}

@media screen and (max-width: 381px) {
  .lines {
    &__middle {
      height: 320px; //////////////
    }

    .line_first-mob {
      height: 390px; //////////////
    }

  }
}

@media screen and (max-width: 372px) {
  .dao {

    &__dot {

      &:first-child {
        top: 530px; //////////////
      }

      &:last-child {
        top: 860px; //////////////
      }
    }
  }
}

@media screen and (max-width: 352px) {
  .lines {
    .line_first-mob {
      height: 400px; /////////////////
    }
  }
}

@media screen and (max-width: 331px) {
  .dao {
    &__dot {


      &:first-child {
        top: 530px; //////////////
      }

      &:last-child {
        top: 890px; //////////////
      }
    }
  }
}