.rewards {
  &__wrapper {
    background-color: #0A0021;
    padding: 75px 0 70px;
    @include media-breakpoint-down(sm) {
      padding: 37px 0 40px;
    }
  }

  &__title {
    z-index: 3;
  }

  &__inner {
    padding: 130px 0 71px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -30px;

    @include media-breakpoint-down(sm) {
      margin-top: 0px;
      padding: 40px 0 56px;
    }
    &.decor-buble__two {
      &::before {
        bottom: -139px;
        left: 50px;
        @include media-breakpoint-down(sm) {
          bottom: auto;
          top: -67px;
          left: -54px;
        }
      }
      &::after {
        top: 0;
        right: 115px;
        @include media-breakpoint-down(sm) {
          top: auto;
          bottom: -51px;
          right: -68px;
        }
      }
    }
  }

  &-swiper {
    z-index: 3;
    .swiper-wrapper {}

    .swiper-slide {
      max-width: 370px;
      height: auto;

      @include media-breakpoint-down(sm) {
        max-width: 344px;
      }
    }
    .swiper-pagination {
      bottom: -40px;
      .swiper-pagination-bullet {
        background: #130440;
        opacity: 1;
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #5824FF;
      }
    }
  }

  &__items {
    gap: 30px;
    z-index: 3;
  }

  &__item {
    background: #130440;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 57px 35px 50px;
    flex-basis: 33.3%;
    transition: all 0.4s;

    @include media-breakpoint-down(lg) {
      flex-basis: auto;
      height: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding: 32px 16px 24px;
    }

    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    }

    &_box {
      margin-bottom: 40px;
    }

    &_title {
      margin-bottom: 40px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
      }
    }

    &_button {
      max-width: 270px;
      margin: 0 auto;

      @include media-breakpoint-down(sm) {
        max-width: 160px;
      }
    }

    &_text {
      p {
        padding-left: 37px;

        @include media-breakpoint-down(sm) {
          padding-left: 28px;
        }

        &::before {
          content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI0IDEwTDEzIDIxTDggMTYiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
          position: absolute;
          top: 0;
          left: 0;

          @include media-breakpoint-down(sm) {
            content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDcuNUw5Ljc1IDE1Ljc1TDYgMTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
          }
        }

        span {
          display: block;
          margin-top: 10px;
        }
      }

      p+p {
        margin-top: 30px;

        @include media-breakpoint-down(sm) {
          margin-top: 16px;
        }
      }
    }
  }

  &__call {
    padding-top: 79px;
    @include media-breakpoint-down(sm) {
      padding-top: 56px;
    }
    &_inner {
      background: linear-gradient(96.47deg, #2E6FFF -45.7%, #5824FF 100%);
      border-radius: 20px;
      padding: 60px;
      @include media-breakpoint-down(sm) {
        padding: 40px 16px;
        border-radius: 0;
      }
    }

    &_title {
      margin-bottom: 10px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
      }
    }

    &_text {
      margin-bottom: 40px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 24px;
      }
    }

    &_button {
      margin: 0 auto;
      max-width: 251px;
      @include media-breakpoint-down(sm) {
        max-width: 164px;
      }
    }
  }
}