html {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: 'Prosto One', cursive;
  font-weight: 400;
}

button,
input {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

*:focus,
*:focus-visible {
  outline: none;
}