::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
} 

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 24px;
  }
  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: 'Prosto One', cursive;
  font-weight: 400;
}

button,
input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

*:focus,
*:focus-visible {
  outline: none;
}

.container {
  @include media-breakpoint-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
}