h1 {
  font-size: 88px;
  line-height: 105px;
}

h2 {
  font-size: 56px;
  line-height: 73px;
}

h3 {
  font-size: 28px;
  line-height: 48px;
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 32px;
    line-height: 42px;
  }

  h3 {
    font-size: 18px;
    line-height: 29px;
  }
}